.App {
  height: 100%;
  width: 100%;
}

.App-Buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 30px;
}

.App-Buttons .Users{
  width: 33.33%;
  font-size: 18px;
  font-style: bold;
}


.App-Buttons .Posts{
  width: 33.33%;
  font-size: 18px;
  font-style: bold;
}
.App-Buttons :hover{
  color: white;
  background-color: black;
}


.App-Buttons .Comments{
  width: 33.33%;
  font-size: 18px;
  font-style: bold;
}
